<!-- form for adding multiple currencies and getting the results in one target currency. An add button to add more currencies -->

<div>
  <label for="target-currency">Target currency:</label>
  <select [(ngModel)]="targetCurrency">
    <option value="{{ curr.code }}" *ngFor="let curr of currencylist">{{ curr.name }}</option>
  </select>
  
  <h3>Currencies to convert:</h3>
  
  <div *ngFor="let currency of currencies; let indexOfelement=index;">
    <div class="currency-to-convert">
      <label for="currency-{{ indexOfelement }}">Currency {{ indexOfelement }}:</label>
      <input type="number" id="currency-{{ indexOfelement }}" value="1" min="0">
      <select id="currency-{{ indexOfelement }}-type">
        <option value="{{ curr.code }}" *ngFor="let curr of currencylist">{{ curr.name }}</option>
      </select>
    </div>
  </div>
  
  <button type="button" id="add-currency-button" (click)="addCurrency()">Add currency</button>
  
  <br />  <br />

  <!-- Totals -->
  <div>
    <h3>Total: {{ total }}</h3>
  </div>
  


  <button type="button" (click)="calculateTotal()">Convert currencies</button>
</div>


<a href="https://www.exchangerate-api.com">Rates By Exchange Rate API</a>