<h1>Currency Converter</h1>
<form>
  <div class="form-group">
    <label for="targetCurrency">Target Currency</label>
    <select class="form-control" id="targetCurrency" [(ngModel)]="targetCurrency" name="targetCurrency">
      <option *ngFor="let currency of currencies" [value]="currency">
        {{currency}}
      </option>
    </select>
  </div>
  <div class="form-group" *ngFor="let currency of currencies">
    <label for="{{currency}}">{{currency}} Amount</label>
    <input type="number" class="form-control" id="{{currency}}" [(ngModel)]="currencyValues[currency]" min="0" name="{{currency}}">
  </div>
  <button type="button" class="btn btn-primary" (click)="addCurrency()">Add Currency</button>
  <button type="submit" class="btn btn-primary" (click)="convertCurrencies()">Convert</button>
</form>
<p *ngIf="convertedAmount">
  Total amount in {{targetCurrency}}: {{convertedAmount}}
</p>