<!-- form for adding multiple currencies and getting the results in one target currency. An add button to add more currencies -->

<div class="converter-page">

  <h3 class="title">USD, GBP --> USD</h3>
  <div class="currency-blocks">
    <div class="currency-block" *ngFor="let currency of currencies; let indexOfelement=index;">
      <button (click)="removeCurrency(indexOfelement)">x</button>
      <div class="currency-to-convert">
        <select id="currency-{{ indexOfelement }}-type" class="currency-block-switch">
          <option value="{{ curr.code }}" *ngFor="let curr of currencylist">{{ curr.name }}</option>
        </select>
        <input class="currency-block-input" type="number" id="currency-{{ indexOfelement }}" value="1" min="0">
      </div>
    </div>


      <button class="currency-block" type="button" id="add-currency-button" (click)="addCurrency()">Add currency</button>
  </div>

  

  
  <br />  <br />


  
  <select [(ngModel)]="targetCurrency" class="target-currency-field">
    <option value="">Choose target currency</option>
    <option value="{{ curr.code }}" *ngFor="let curr of currencylist">{{ curr.name }}</option>
  </select>

  <button type="button" class="calculatebtn" (click)="calculateTotal()">C</button>
</div>


  <!-- Totals -->
  <div class="footer">
    <h3>Total: {{ total }}</h3>
    <a href="https://www.exchangerate-api.com">Rates By Exchange Rate API</a>
  </div>

